.Main{
	display: flex;
	flex-direction:row;
	justify-content: flex-start;
	align-items: baseline;
	align-content:center;
	background-color: darkgrey;
}
#icon{
	width: 20%;
	border-radius: 45px;
}
.Main a{
	display: flex;
	align-items: baseline;
	color:lightgrey;
	text-decoration: none;
	font-family:verdana;
}
.Main a:hover{
	color:red;
}
.Main h1{
	font-family: verdana;
	color:crimson;
}
.Main strong{
	color:indigo;
	font-family:Segoe Script;
}

             /*Ul*/
.Main ul{
	display: flex;
	flex-direction: row;
	justify-content:flex-start;
	font-family: Impact;
	font-size: 20px;

}
.Main li {
	padding-left: 100px;
	padding-right: 100px;
	list-style-type: none;
}
.post{
	/*display: grid;*/
	/*grid-gap-row: 10px;*/
	display: flex;
	flex-direction: column;
	align-content: center;
	margin-left: 340px;
	align-items: center;
	width: 500px;
	text-align: center;
	padding-bottom: 10px;
	border: 2px  solid white;
	background-color:mediumaquamarine;
	border-radius: 10px;

}
.registration{
	float:right;
	background-color: teal;
	height: 300px;
	border-radius: 20px;
	margin-right: 20px;
	margin-left: 600px;
}
#Login{
	margin-top: 50px;
	margin-left: 22px;

}
#Password{
	margin-top: 10px;
}
#Label1{
	margin-left: 10px;
	padding: 25px;

}
#label2{
	padding: 25px;
	margin-top: 10px;
	margin-left: 7px;
}
#Button{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 20px;
	border-radius: 6px;
	margin-left: 35px;
	justify-content: flex-start;
}
#Register{
	display: flex;
	flex-direction: row;
	/*justify-content: flex-start;*/
	margin-left: 110px;
	margin-top: -20px;
	border-radius: 5px;
}

/*#feed{*/
	/*background-color: lawngreen;*/
/*}*/